:root
{
    --base-color: #a51dc7;
    --hover-color: #ad37ca;
    --click-color: #b245ce;

    --font-size: 1.25rem;

    --border-radius: 15px;
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

  
body {
    background: linear-gradient(105deg, #1f04f9, #f700ee);
    background-size: 400% 400%;
    

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes AnimationName {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

h1
{
    margin: 10px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 4px 4px #000;
}

video
{
    padding: 50px;
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
}

.container
{
    display: flex;
    justify-content: center;
}

.container .team
{
    position: relative;
    margin: 20px 75px;
}

.container .team .card
{
    position: relative;
    background: #fff;
    color: #000;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    width: 700px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container .team .card input
{
    font-family: inherit;
    font-size: inherit;
    font-size: var(--font-size);
    border: 3px solid var(--base-color);
    border-radius: var(--border-radius);
    background-color: #fff;
    outline: none;
    text-align: center;
}

.container .team .card input:hover
{
    border-color: var(--hover-color);
}

.container .team .card input:focus
{
    border-color: var(--click-color);
}

.container .team .card .button
{
    text-decoration: none;
    font-size: var(--font-size);
    padding: 0 15px;
    margin: 25px;

    border: 3px solid;
    border-radius: var(--border-radius);
    border-color: var(--base-color);
    background-color: var(--base-color);
    color: #fff;
}

.container .team .card .button:hover, .bigbutton:hover
{
    border-color: var(--hover-color);
    background-color: var(--hover-color);
}

.container .team .card .button:active, .bigbutton:active
{
    border-color: var(--click-color);
    background-color: var(--click-color);
}

.board
{
    margin: 100px auto;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
}

.board thead tr th
{
    background-color: var(--base-color);
    padding: 20px 40px;
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: 1.75rem;
}

.board tbody tr td
{
    padding: 20px 40px;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;

    color: #a51dc7;
    background-color: #fff;
}

.center
{
    text-align: center;
}

.bigbutton
{
    text-decoration: none;
    font-size: 2.5rem;

    border: 20px solid var(--base-color);
    border-radius: 40px;
    background-color: var(--base-color);
    color: #fff;

    box-shadow: #000 2px 2px 3px;
}

.container2{
    position: relative;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
  }

  
  .container2 .card2{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
  }
  
  .container2 .card2 .content2{
    padding: 20px;
    text-align: center;
    transform: translateY(25px);
    transition: 0.5s;
  }
  
  .container2 .card2:hover .content2{
    transform: translateY(0px);
  }
  
  .container2 .card2 .content2 h2{
    position: absolute;
    top: -80px;
    right: 20px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
  }
  
  .container2 .card2 .content2 h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
  }
  
  .container2 .card2 .content2 p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
  }
  
  .container2 .card2 .content2 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }